<div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <form (submit)="store()" role="form" [formGroup]="multaGroup">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <div class="col" *ngIf="clientesSearch !== null">
                    <label>* Seleccione cliente </label>
                    <ng-autocomplete (selected)="Selected($event)" [classes]="['']" [group]="clientesSearch"></ng-autocomplete>
                  </div>
                  <div class="col">
                    <label>Medidor</label>
                    <select name="idmedidor" formControlName="idmedidor" class="custom-select mr-sm-2" *ngIf="medidores != null">
                      <option [value]="medidor.idmedidor" *ngFor="let medidor of medidores">
                        {{ medidor.codigo }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="descripcion">
                      * Ingrese descripción
                    </label>
                    <input type="text" class="form-control" id="descripcion" formControlName="descripcion" name="descripcion" />
                  </div>
                  <div class="form-group">
                    <label for="fecha">
                      * Ingrese fecha
                    </label>
                    <input type="date" class="form-control" id="fecha" formControlName="fecha" name="fecha" />
                  </div>
                  <div class="form-group">
                    <label for="valor">
                      * Ingrese valor multa
                    </label>
                    <input type="text" class="form-control" id="valor" formControlName="valor" name="valor"
                           [dropSpecialCharacters]="false"
                           mask="0*.00"
                           placeholder="$ 0.00" />
                    {{ multaGroup.value.valor }}
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <button [disabled]="multaGroup.status === 'INVALID'" type="submit" class="btn btn-primary" style="width: 150px">
                        <span class="fa fa-save"></span>
                        Guardar
                      </button>
                    </div>
                    <div class="col-md-6">
                      <button type="reset" class="btn btn-success" style="width: 150px">
                        <span class="fa fa-file"></span>
                        Nuevo
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-4" align="center">
                  <h3>Gestión de Multas</h3>
                  <div class="col align-self-center">
                    <img alt="JAAP" src="\assets\images\icon\multa.jpg" width="200" />
                  </div>
                </div>
                <div class="col-md-4" align="center">
                  <!-- inicio card -->
                  <div class="card" style="width: 18rem;">
                    <div class="card-header">
                      NOTA:
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">El valor de las multas es aleatorio y colocadas en asamblea.</li>
                      <li class="list-group-item">Este valor se cancela en la planilla del mes.</li>
                    </ul>
                  </div>
                  <!-- fin card -->
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="alert alert-success" role="alert" *ngIf="successStatus == true">
          <strong>Datos guardados exitosamente :D</strong>
        </div>
      </div>
    </div>
  </div>