<div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <form (submit)="store()" role="form" [formGroup]="materialGroup">
                  <div class="form-group">
                    <label for="nombre">*Ingrese nombre material </label>
                    <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre"autofocus/>
                  </div>
                  <div class="form-group">
                    <label for="descripcion"> Ingrese descripción </label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" formControlName="descripcion" />
                  </div>
                  <button type="submit" class="btn btn-primary">
                    Guardar
                  </button>
                </form>
                <div class="alert alert-success" role="alert" *ngIf="successStatus == true">
                  <strong>Datos guardados exitosamente :D</strong>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <h5 class="card-header">
                            Reglamento
                          </h5>
                  <div class="card-body">
                    <p class="card-text">
                      Tiene que tener facturero
                    </p>
                    <p class="card-text">
                      reglas 2
                    </p>
                    <p class="card-text">
                      reglas 3
                    </p>
                  </div>
                  <div class="card-footer">
                    La Directiva
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>