<div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <form (submit)="store()" role="form" [formGroup]="parametroGroup">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="descripcion">
                      * Ingrese descripción
                    </label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" formControlName="descripcion" autofocus/>
                  </div>
                  <div class="form-group">
                    <label for="valor">
                      * Ingrese valor
                    </label>
                    <input type="number" class="form-control" id="valor" name="valor" formControlName="valor" placeholder="$ 0.00" />
                  </div>
                  <div class="form-group">
                    <label for="detalle">
                      Ingrese Detalle
                    </label>
                    <input type="text" class="form-control" id="detalle" name="detalle" formControlName="detalle" />
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <button [disabled]="parametroGroup.status === 'INVALID'" type="submit" class="btn btn-primary" style="width: 150px">
                        <span class="fa fa-save"></span>
                        Guardar
                      </button>
                    </div>
                    <div class="col-md-6">
                      <button type="reset" class="btn btn-success" style="width: 150px">
                        <span class="fa fa-file"></span>
                        Nuevo
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-4" align="center">
                  <h3>Gestión Parametros </h3>
                  <div class="col align-self-center">
                    <img alt="JAAP" src="\assets\images\icon\parametros.jpg" width="200" />
                  </div>
                </div>
                <div class="col-md-4" align="center">
                  <!-- inicio card -->
                  <div class="card" style="width: 18rem;">
                    <div class="card-header">
                      NOTA:
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Todos los parámetros creados no podrán ser modificados aceptó el valor y estado.</li>
                    </ul>
                  </div>
                  <!-- fin card -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>