<div class="card">
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8">
                  <form (submit)="update()" role="form" [formGroup]="medidorGroup"
                  *ngIf="medidor !== null">
                  <div class="form-group">
                    <label for="codigo">
                      Codigo
                    </label>
                    <input type="text" class="form-control" id="codigo" name="codigo" formControlName="codigo" autofocus/>
                  </div>
                  <div class="form-group">
                    <label for="observacion">
                      Observación
                    </label>
                    <input type="text" class="form-control" id="observacion" name="observacion" formControlName="observacion" />
                  </div>
                  <div class="form-group">
                      <label for="estado">
                         * Seleccione estado
                      </label>
                      <select class="form-control" id="estado" formControlName="estado" name="estado" required>
                          <option>Activo</option>
                          <option>Pasivo</option>
                        </select>
                    </div>               
                <button type="submit" class="btn btn-success">
                    Actualizar
                </button>
            </form>
            </div>
            <div class="col-md-4">
              <div class="card">
                <h5 class="card-header">
                          Reglamento
                        </h5>
                <div class="card-body">
                  <p class="card-text">
                    Tiene que tener facturero
                  </p>
                  <p class="card-text">
                    reglas 2
                  </p>
                  <p class="card-text">
                    reglas 3
                  </p>
                </div>
                <div class="card-footer">
                  La Directiva
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>