<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                  <form [formGroup]="facturaGroup">
                      <div class="row">
                          <label for="servicio">* Seleccione servicio </label>
                        <div class="col" *ngIf="clientesSearch !== null">
                            <ng-autocomplete (selected)="Selected($event)" [classes]="['']" [group]="clientesSearch"></ng-autocomplete>
                        </div>
                        <div class="col">
                            <label>Medidor</label>
                            <select (change)="listaLecturas()"
                                    name="idmedidor"
                                    formControlName="idmedidor"
                                    class="form-control"
                                    *ngIf="medidores != null">
                                <option [value]="medidor.idmedidor" *ngFor="let medidor of medidores">
                                    {{ medidor.codigo }}
                                </option>
                            </select>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              <div class="table-responsive">
                                  <table class="table">
                                      <thead>
                                      <tr>
                                          <th>Observacion</th>
                                          <th>Fecha</th>
                                          <th>Anterior</th>
                                          <th>Actual</th>
                                          <th>Consumo</th>
                                          <th>Tarifa</th>
                                          <th>Excedente</th>
                                          <th>Acciones</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let lectura of lecturas; let i = index">
                                              <td>{{ lectura.observacion }}</td>
                                              <td>{{ lectura.fecha }}</td>
                                              <td>{{ lectura.anterior }}</td>
                                              <td>{{ lectura.actual }}</td>
                                              <td>{{ lectura.consumo }}</td>
                                              <td>{{ lectura.tarifa }}</td>
                                              <td>{{ lectura.excedente }}</td>
                                              <td>
                                                  <button (click)="verFactura(lectura.idlectura)"
                                                          class="btn btn-info">Ver</button>
                                                  <button
                                                          (click)="pagar(lectura.idlectura, i)"
                                                          [disabled]="lectura.estado === 'Pagado'"
                                                          [class.btn]="true"
                                                          [class.btn-danger]="lectura.estado === 'Pagado'"
                                                          [class.btn-primary]="lectura.estado === 'Deber'">
                                                      <span *ngIf="lectura.estado === 'Deber'">Pagar</span>
                                                      <span *ngIf="lectura.estado === 'Pagado'">Pagado</span>
                                                  </button>

                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>


                          </div>
                      </div>

                      <hr>
                      <div class="row">
                          
                        <div class="col">
                            <label for="servicio">Mes facturado:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="servicio">Junio /2018</label><br>
                            <label for="servicio">Servicio No.:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="servicio">000000</label><br>
                            <label for="servicio">Cliente:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="servicio">Juan Lopez</label>
                            
                        </div>
                        <div class="col">
                            <label for="servicio">Direccion:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="servicio">calle xyz</label><br>
                            <label for="servicio">Medidor:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="servicio">1000m</label><br>
                            <label for="servicio">Factura No.:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="servicio">0001</label>
                        </div>
                      </div>
<hr>
                      
<div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th> Descripción    </th>
              <th> Valor    </th>              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                  Agua Potable:
              </td>
              <td>
                {{ factura.tarifa }}
              </td>
            </tr>
            <tr class="table-active">
              <td>
                 Multas
              </td>
              <td>
                {{ factura.multa }}
              </td>
            </tr>
            <tr class="table-success">
              <td>
                  Servicio
              </td>
              <td>
               0.00
              </td>
            </tr>
            <tr class="table-warning">
              <td>
                Subtotal
              </td>
              <td>
                {{ factura.total }}
              </td>
            </tr>
            <tr class="table-danger">
              <td>
            IVA
              </td>
              <td>
                0.00
              </td>
            </tr>
            <tr>
                <td>
                    TOTAL:
                </td>
                <td>
                  {{ factura.total }}
                </td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>


                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
            
            