<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                  <form>
                      <div class="row">
                          <label for="servicio">* Seleccione servicio </label>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Buscar por nombre...">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Buscar por cedula...">
                        </div>
                      </div>
<hr>
                      <div class="row">
                          
                        <div class="col">
                            <label for="servicio">Mes facturado:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="servicio">Junio /2018</label><br>
                            <label for="servicio">Servicio No.:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="servicio">000000</label><br>
                            <label for="servicio">Cliente:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="servicio">Juan Lopez</label>
                            
                        </div>
                        <div class="col">
                            <label for="servicio">Direccion:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="servicio">calle xyz</label><br>
                            <label for="servicio">Medidor:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="servicio">1000m</label><br>
                            <label for="servicio">Factura No.:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="servicio">0001</label>
                        </div>
                      </div>
<hr>
                      
<div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th> Descripción    </th>
              <th> Valor    </th>              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                  Agua Potable:
              </td>
              <td>
                8.00
              </td>
            </tr>
            <tr class="table-active">
              <td>
                 Multas
              </td>
              <td>
                20.00
              </td>
            </tr>
            <tr class="table-success">
              <td>
                  Servicio
              </td>
              <td>
               100.00
              </td>
            </tr>
            <tr class="table-warning">
              <td>
                Subtotal
              </td>
              <td>
                128.00
              </td>
            </tr>
            <tr class="table-danger">
              <td>
            IVA
              </td>
              <td>
                0.00
              </td>
            </tr>
            <tr>
                <td>
                    TOTAL:
                </td>
                <td>
                  128.00
                </td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>


                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
            
            