<div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <form (submit)="store()" role="form" [formGroup]="servicioGroup">
        <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="col" *ngIf="clientesSearch !== null">
                      <label for="servicio">* Seleccione el cliente </label>
                      <br>
                      <ng-autocomplete (selected)="Selected($event)" [classes]="['']" [group]="clientesSearch"></ng-autocomplete>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="medidor">
                      * Seleccione código medidor
                    </label>
                    <select name="idmedidor" id="medidor" class="form-control" formControlName="idmedidor">
                      <option [value]="medidor.idmedidor" *ngFor="let medidor of medidores"> {{ medidor.codigo }}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="fecha">
                      * Ingrese fecha de adquisición
                    </label>
                    <input type="date" class="form-control" id="fecha" formControlName="fecha" name="fecha" />
                  </div>
                  <div class="form-group">
                    <label for="observacion">
                      Ingrese Observación
                    </label>
                    <input type="text" class="form-control" id="observacion" formControlName="observacion" name="observacion" />
                  </div>
                  <hr>
                  <button type="submit" class="btn btn-primary">
                    Guardar
                  </button>
                </div>
                <div class="col-md-4" align="center">
                  <div class="col align-self-center">
                    <img alt="JAAP" src="\assets\images\icon\servicio.jpg" width="200" />
                  </div>
                </div>
                <div class="col-md-4" align="center">
                  <!-- inicio card -->
                  <div class="card" style="width: 18rem;">
                    <div class="card-header">
                      NOTA:
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">El valor de Instalacion es de $300.00</li>
                        <li class="list-group-item">Las planillas a cancelar son el primer domingo del mes</li>
                      <li class="list-group-item">Los valores de las multas seran incluidos en la planilla del mes</li>
                      <li class="list-group-item">El valor de multa por 3 meses es de $ 0.50</li>
                      <li class="list-group-item">El valor de multa por 6 meses reconección es de $ 10.00</li>
                    </ul>
                  </div>
                  <!-- fin card -->
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="alert alert-success" role="alert" *ngIf="successStatus == true">
          <strong>Datos guardados exitosamente :D</strong>
        </div>

      </div>
    </div>
  </div>