<div class="card">
    <div class="card-body">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="row">
                      <div class="col-md-4">
                          <form (submit)="store()" role="form" [formGroup]="tipoGroup">

                              <div class="form-group">
                                  <label for="nombre">
                                      * Ingrese tipo usuario
                                  </label>
                                  <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre" autofocus/>
                              </div>
                              <div class="form-group">
                                  <label for="estado">
                                      * Seleccione estado
                                  </label>
                                  <select class="form-control" id="estado" formControlName="estado" name="estado" required>
                                      <option>Activo</option>
                                      <option>Pasivo</option>
                                  </select>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <button [disabled]="tipoGroup.status === 'INVALID'" type="submit" class="btn btn-primary" style="width: 150px">
                                          <span class="fa fa-save"></span>
                                          Guardar
                                      </button>
                                  </div>
                                  <div class="col-md-6">
                                      <button type="reset" class="btn btn-success" style="width: 150px">
                                          <span class="fa fa-file"></span>
                                          Nuevo
                                      </button>
                                  </div>
                              </div>
                          </form>
                      </div>
                      <div class="col-md-4" align="center">
                          <h3>Gestión de Cargos</h3>
                          <div class="col align-self-center">
                              <img alt="JAAP" src="\assets\images\icon\cargos.jpg" width="200" />
                          </div>
                      </div>
                      <div class="col-md-4" align="center">
                          <!-- inicio card -->
                          <div class="card" style="width: 18rem;">
                              <div class="card-header">
                                  NOTA:
                              </div>
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item">El tipo cargo son los roles de acceso al sistema</li>
                              </ul>
                          </div>
                          <!-- fin card -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>