<ng-template #confirmModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Confirmar eliminación</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Esta seguro de confirmar la eliminacion? &hellip;</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" (click)="c('cerrar')">No</button>
      <button class="btn btn-danger" (click)="c('si')">Esta bien</button>
      <!--<button type="button" class="btn btn-secondary" >Close</button>-->
    </div>
  </ng-template>
  
  <!-- {{ search }} -->
  
  <div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-md-12">
              <input type="search" class="form-control" [(ngModel)]="search">
            </div>
          </div> -->
  
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    #
                  </th>
                  <th>
                    Cliente
                  </th>
                  <th>
                    Codigo Medidor
                  </th>
                  <th>
                    Fecha
                  </th>  
                  <th>
                      Observación
                  </th> 
                  <th>
                    Saldo
                </th>      
                  <th>
                      Estado
                    </th>             
                  <th>
                    Acciones
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let servicio of servicios; let i = index">
                  <td>
                    {{ i + 1 }}
                  </td>
                  <td>
                    {{ servicio.contribuyente.nombres }}
                  </td>
                  <td>
                    {{ servicio.medidor.codigo }}
                  </td>
                  <td>
                    {{ servicio.fecha}}
                  </td>
                  <td>
                      {{ servicio.observacion}}
                    </td>
                    <td>
                      {{ servicio.saldo}}
                    </td>
                    <td>
                        {{ servicio.estado}}
                      </td>
                  <td>
                    <button (click)="edit(servicio.idservicio)" type="button" class="btn btn-info">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>                      
                    </button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-danger" (click)="confirm(i, servicio.idservicio,confirmModal)">
                        <i class="fa fa-eraser" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- end table-->
            <div class="container-fluid" *ngIf="servicios !== null">
              <div class="row">
                <div class="col-md-12">
                  <nav>
                    <ul class="pagination">
                      <li class="page-item" *ngIf="prev_page !== null">
                        <a class="page-link" (click)="prevPage()">Anterior</a>
                      </li>
                      <li class="page-item" *ngFor="let page of pages">
                        <a class="page-link" (click)="loadPagination(page.url)">{{ page.item }}</a>
                      </li>
                      <li class="page-item" *ngIf="next_page !== null">
                        <a class="page-link" (click)="nextPage()">Siguiente</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <!-- end paginate-->
          </div>
        </div>
      </div>
  
    </div>
  </div>