<div class="card">
  <div class="card-body">
      <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-8">
                    <form (submit)="update()" role="form" *ngIf="servicio !== null" [formGroup]="servicioGroup">
                      
                      <!-- <div class="form-group">
                          <label for="proveedor">
                            Proveedor
                          </label>
                          <select name="idproveedor" id="proveedor" class="form-control" formControlName="idproveedor">
                            <option [value]="proveedor.idproveedor" *ngFor="let proveedor of proveedores"
                                    [selected]="proveedor.idproveedor === servicioGroup.value.idproveedor">
                                {{ proveedor.nombre }}
                            </option>
                          </select>
                        </div> -->
                        <div class="form-group">
                          <label for="cliente">
                            * Seleccione cliente
                          </label>
                          <select name="idcliente" id="cliente" class="form-control" formControlName="idcliente">
                            <option [value]="cliente.idcliente" *ngFor="let cliente of clientes" 
                                    [selected]="cliente.idcliente === servicioGroup.value.idcliente">
                              {{ cliente.nombres }}</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="medidor">
                            * Seleccione código medidor
                          </label>
                          <select name="idmedidor" id="medidor" class="form-control" formControlName="idmedidor" disabled>
                            <option [value]="medidor.idmedidor" *ngFor="let medidor of medidores"
                                    [selected]="medidor.idmedidor === servicioGroup.value.idmedidor">
                             {{ medidor.codigo }}</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="fecha">
                            * Ingrese fecha de adquisición
                          </label>
                          <input type="date" class="form-control" id="fecha" formControlName="fecha" name="fecha"/>
                        </div>
                        <div class="form-group">
                          <label for="observacion">
                            Ingrese Observación
                          </label>
                          <input type="text" class="form-control" id="observacion" formControlName="observacion" name="observacion"/>
                        </div>
                        <div class="form-group">
                            <label for="estado">
                             * Seleccione estado
                            </label>
                            <select class="form-control" id="estado" formControlName="estado" name="estado">
                                <option>Activo</option>
                                <option>Pasivo</option>
                              </select>
                          </div>
                        <button type="submit" class="btn btn-primary">
                          Guardar
                        </button>
                      </form>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <h5 class="card-header">
                      Card title
                    </h5>
                    <div class="card-body">
                      <p class="card-text">
                        Card content
                      </p>
                    </div>
                    <div class="card-footer">
                      Card footer
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>   
  </div>
</div>