<ng-template #confirmModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Confirmar eliminación</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Esta seguro de confirmar la eliminacion? &hellip;</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" (click)="c('cerrar')">No</button>
      <button class="btn btn-danger" (click)="c('si')">Esta bien</button>
      <!--<button type="button" class="btn btn-secondary" >Close</button>-->
    </div>
  </ng-template>
  <!-- {{ search }} -->
  <div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div style="overflow-x:auto;">
              <div class="row">
                <div class="col-md-4">
                  <input type="search" *ngIf="lecturas !== null" (keypress)="buscar(search)" [(ngModel)]="search" placeholder="Buscar lecturas.." class="form-control">
                </div>
                <div class="col-md-8 text-right">
                  <button class="btn btn-primary" (click)="export()">
                    <span class="fa fa-save"></span>
                  </button>
                </div>
              </div>
              <br>
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>
                      Cliente
                    </th>
                    <th>
                      Observación
                    </th>
                    <th>
                      Fecha
                    </th>
                    <th>
                      Lec Anterior
                    </th>
                    <th>
                      Lec Actual
                    </th>
                    <th>
                      Consumo
                    </th>
                    <th>
                      Excedente
                    </th>
                    <th>
                      Tarifa
                    </th>
                    <th>
                      Estado
                    </th>
                    <th>
                      Acciones
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let lectura of lecturas; let i = index">
                    <td>
                      {{ lectura.servicio.contribuyente.nombres }}
                    </td>
                    <td>
                      {{ lectura.observacion }}
                    </td>
                    <td>
                      {{ lectura.fecha}}
                    </td>
                    <td>
                      {{ lectura.anterior}}
                    </td>
                    <td>
                      {{ lectura.actual}}
                    </td>
                    <td>
                      {{ lectura.consumo}}
                    </td>
                    <td>
                      {{ lectura.excedente}}
                    </td>
                    <td>
                      {{ lectura.tarifa | currency:"CAD":"symbol-narrow"}}
                    </td>
                    <td>
                      {{ lectura.estado}}
                    </td>
                    <td align="center">
                      <!-- <button (click)="edit(lectura.idlectura)" type="button" class="btn btn-info">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                      </button>
                      &nbsp;&nbsp; -->
                      <button type="button" class="btn btn-danger" (click)="confirm(i, lectura.idlectura,confirmModal)">
                        <i class="fa fa-eraser" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- end table-->
              <div class="container-fluid" *ngIf="lecturas !== null">
                <div class="row">
                  <div class="col-md-12">
                    <nav>
                      <ul class="pagination">
                        <li class="page-item">
                          <button class="page-link" [disabled]="prev_page === null" (click)="prevPage()">Anterior</button>
                        </li>
                        <li class="page-item" *ngFor="let page of pages">
                          <a class="page-link" (click)="loadPagination(page.url)">{{ page.item }}</a>
                        </li>
                        <li class="page-item">
                          <button class="page-link" [disabled]="next_page === null" (click)="nextPage()">Siguiente</button>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
              <!-- end paginate-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>