<div class="card">
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8">
                  <form (submit)="update()" role="form" [formGroup]="parametroGroup"
                  *ngIf="parametro !== null">
                  <div class="form-group">
                    <label for="descripcion">
                      * Ingrese descripción
                    </label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" formControlName="descripcion" disabled />
                  </div>
                  <div class="form-group">
  
                    <label for="valor">
                      * Ingrese valor
                    </label>
                    <input type="text" class="form-control" id="valor" name="valor" formControlName="valor" OnlyNumber="true" autofocus placeholder="$0.00"/>
                  </div>
                  <div class="form-group">
                    <label for="detalle">
                        Ingrese Detalle
                    </label>
                    <input type="text" class="form-control" id="detalle" name="detalle" formControlName="detalle" />
                  </div>
                  <div class="form-group">
                    <label for="estado">
                      * Seleccione el estado
                    </label>
                    <input type="text" class="form-control" id="estado" name="estado" formControlName="estado" ng-maxlength="10" />
                  </div>
                <button type="submit" class="btn btn-success">
                    Actualizar
                </button>
            </form>
            </div>
            <div class="col-md-6" align="center">
                <!-- inicio card -->
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets\images\log.png" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Proveer con cantidad, calidad, eficacia y el servicio de agua potable de uso domestico para los usuarios del barrio San José de Chorlavi y San Agustin, contribuyendo en el mejoramiento de la calidad de vida a través de la capacitación y del mejoramiento continuo de quienes administran el sistema de agua potable.</p>
                    </div>
                  </div>
                  <!-- fin card -->
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>