<div class="card">
<div class="card-body">
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <div class="card">
              <h5 class="card-header">
                  PRESENTACIÓN DE INGRESOS Y EGRESOS MENSUALES
              </h5>
              <div class="card-footer">
                  PRESENTACIÓN INGRESOS MENSUALES
              </div>
            </div>
        <div class="row">
          <div class="col-md-4">
              <form (submit)="renderPie()" [formGroup]="pieGroup">
                  <div class="form-group">
                    <label>Fecha de inicio</label>
                    <input type="date" class="form-control" formControlName="start" required autofocus>
                    <small class="text-muted">Seleccione la fecha de inicio</small>
                  </div>
                  <div class="form-group">
                    <label>Fecha de fin</label>
                    <input type="date" class="form-control" formControlName="end" required>
                    <small class="text-muted">Seleccione la fecha de fin</small> 
                  </div>
                  <button class="btn btn-primary">Genera torta</button>
                </form>
          </div>
          <div class="col-md-8">
              <plotly-plot [data]="ventas.data" [layout]="ventas.layout"></plotly-plot>
          </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                PRESENTACIÓN DE UTILIDAD
            </h5>
         </div>


         <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Ingresos</th>
                <th scope="col">Egresos</th>
                <th scope="col">Utilidad</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>{{ total_ingresos | currency:"CAD":"symbol-narrow" }}</td>
                <td>{{ total_egresos | currency:"CAD":"symbol-narrow" }}</td>
                <td>{{total_ingresos - total_egresos | currency:"CAD":"symbol-narrow"}}</td>
              </tr>
            </tbody>
          </table>

      </div>
    </div>
  </div>    
  </div>
</div>


<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        
      </div>
    </div>
  </div>